@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Roboto&display=swap');
#nav-ul{
display: flex;
flex-direction: row;
justify-content: space-around;
list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: black;
}
.contact{
    text-align: center;
}
#button{
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
}
header{
    background-image: url(./cyberpunk.jpg);

    width: 100%;
}
body{
    margin: 0;
}
ul{
    margin: 0;
    padding: 20px 10px;
   }
   .head{
       text-align: center;
       margin: 2em;
   }
   body{
       background-color: #009EFF;
       color: #fff;
   }
   #homep{
       line-height: 2em;
       text-align: center;
   }
   h1, h2 , h3 {
       font-family: 'Roboto', sans-serif;
   }
   p , li{
       font-family: 'Merriweather Sans', sans-serif;
   }